In [1]:
import numpy as np
import pandas as pd

In [2]:
match = pd.read_csv('match_info_data.csv')
delivery = pd.read_csv('match_complete_data.csv',low_memory=False)

In [3]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

In [4]:
match.shape

(1024, 18)

In [5]:
delivery.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [6]:
delivery.shape

(243817, 23)

In [7]:
# Group by 'match_id' and 'innings' and sum only 'runs_off_bat' and 'extras'
total_score_df = delivery.groupby(['match_id', 'innings']).sum()[['runs_off_bat', 'extras']].reset_index()

In [8]:
# Calculate the total score by summing 'runs_off_bat' and 'extras'
total_score_df['total_score'] = total_score_df['runs_off_bat'] + total_score_df['extras']

In [9]:
# Add 1 run to the total score
total_score_df['total_score'] += 1

In [10]:
# Display the resulting DataFrame for both innings
total_score_df.head()

   match_id  innings  runs_off_bat  extras  total_score
0    335982        1           205      17          223
1    335982        2            63      19           83
2    335983        1           234       6          241
3    335983        2           196      11          208
4    335984        1           122       7          130

In [11]:
# Filter for only the first innings
total_score_df = total_score_df[total_score_df['innings'] == 1]

In [12]:
total_score_df.head()

   match_id  innings  runs_off_bat  extras  total_score
0    335982        1           205      17          223
2    335983        1           234       6          241
4    335984        1           122       7          130
6    335985        1           154      11          166
8    335986        1           100      10          111

In [13]:
#merging this total_score column based on match_id to match_info_data
match_df = match.merge(total_score_df[['match_id','total_score']],left_on='id',right_on='match_id')

In [14]:
match_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_score
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,1370353,215
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,234
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney,1370351,183
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford,1370350,173
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit,1359543,201

In [15]:
match_df['team1'].unique()

array(['Gujarat Titans', 'Mumbai Indians', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [16]:
teams = [
    'Mumbai Indians',
    'Chennai Super Kings',
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Kolkata Knight Riders',
    'Sunrisers Hyderabad',
    'Rajasthan Royals',
    'Delhi Capitals',
    'Gujarat Titans',
    'Lucknow Super Giants'
]

In [17]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions','Gujarat Titans')

match_df['team1'] = match_df['team1'].str.replace('Punjab Kings','Kings XI Punjab')
match_df['team2'] = match_df['team2'].str.replace('Punjab Kings','Kings XI Punjab')

In [18]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [19]:
match_df.shape

(935, 20)

In [20]:
#extracting only match with no dl_applied
match_df = match_df[match_df['dl_applied'] == 0]

In [21]:
match_df = match_df[['match_id','city','winner','total_score']]

In [22]:
match_df.head()

   match_id       city               winner  total_score
1   1370352  Ahmedabad       Gujarat Titans          234
2   1370351    Chennai       Mumbai Indians          183
3   1370350    Chennai  Chennai Super Kings          173
4   1359543     Mumbai       Mumbai Indians          201
5   1359544  Bengaluru       Gujarat Titans          198

In [23]:
delivery_df = match_df.merge(delivery,on='match_id')

In [24]:
delivery_df = delivery_df[delivery_df['innings'] == 2]

In [25]:
delivery_df.shape

(106438, 26)

In [26]:
delivery_df.head()

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352

In [27]:
# Calculate cumulative sums of 'runs_off_bat' and 'extras' within each group of 'match_id'
#delivery_df['cumulative_runs_off_bat'] = delivery_df.groupby('match_id')['runs_off_bat'].cumsum()
#delivery_df['cumulative_extras'] = delivery_df.groupby('match_id')['extras'].cumsum()

# Combine both cumulative sums
#delivery_df['current_score'] = delivery_df['cumulative_runs_off_bat'] + delivery_df['cumulative_extras']

#we can simply do this instead of abaove
delivery_df['current_score'] = delivery_df.groupby('match_id').apply(
    lambda x: (x['runs_off_bat'] + x['extras']).cumsum()
).reset_index(level=0, drop=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8512\1475875151.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  delivery_df['current_score'] = delivery_df.groupby('match_id').apply(

In [28]:
delivery_df.head()

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5

In [29]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]

In [30]:
filtered_df

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,17.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,166
238,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,17.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170
239,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,17.6,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170
240,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,18.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,171
241,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,18.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,caught,K Kartikeya,NaN,NaN,1370352,171

In [31]:
delivery_df['runs_left'] = delivery_df['total_score'] - delivery_df['current_score']

In [32]:
delivery_df.head()

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,runs_left
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,234
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,233
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,233
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5,229
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5,229

In [33]:
# Filter for specific 'match_id' and 'innings'
filtered_df = delivery_df[(delivery_df['match_id'] == 1370352) & (delivery_df['innings'] == 2)]
filtered_df

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,runs_left
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,234
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,233
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,233
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5,229
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,17.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,166,68
238,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,17.5,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170,64
239,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,17.6,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,170,64
240,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,18.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,171,63
241,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,18.2,Mumbai Indians,...,NaN,NaN,NaN,caught,K Kartikeya,NaN,NaN,1370352,171,63

In [34]:
# Extract over and ball number from the ball column
delivery_df['over'] = delivery_df['ball'].astype(int)+1
delivery_df['ball'] = (delivery_df['ball'] * 10 % 10).astype(int)

# Cap the number of overs to 20
delivery_df = delivery_df[delivery_df['over'] < 20]

In [35]:
delivery_df

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,runs_left,over
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,234,1
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,233,1
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,233,1
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,5,229,1
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,5,Mumbai Indians,...,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,5,229,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220020,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,5,Royal Challengers Bangalore,...,1.0,NaN,NaN,NaN,NaN,NaN,335982,80,143,15
220021,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,6,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,335982,81,142,15
220022,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,7,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,335982,81,142,15
220023,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,1,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,335982,82,141,16
220024,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,2,Royal Challengers Bangalore,...,NaN,NaN,caught,SB Joshi,NaN,NaN,335982,82,141,16

In [36]:
delivery_df.to_csv("new_data_with_over_win.csv", index=False)

In [37]:
delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])

In [38]:
delivery_df.head()

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,runs_left,over,balls_left
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,1370352,0,234,1,119
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,1370352,1,233,1,118
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,1370352,1,233,1,117
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,1370352,5,229,1,116
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,5,Mumbai Indians,...,NaN,caught,N Wadhera,NaN,NaN,1370352,5,229,1,115

In [39]:
#player_dismissed tell if batsman was out or not while playing that ball
#filling null values with 0
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")

#if column value is not zero mark it 1
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")

#changing datatype of column name
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

#finding wickets using cumulative sum function
wickets = delivery_df.groupby('match_id')['player_dismissed'].cumsum()

#calculating wickets left by simple math operation
delivery_df['wickets_left'] = 10 - wickets
delivery_df

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,runs_left,over,balls_left,wickets_left
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,1,Mumbai Indians,...,NaN,0,NaN,NaN,1370352,0,234,1,119,10
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,2,Mumbai Indians,...,NaN,0,NaN,NaN,1370352,1,233,1,118,10
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,3,Mumbai Indians,...,NaN,0,NaN,NaN,1370352,1,233,1,117,10
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,4,Mumbai Indians,...,NaN,0,NaN,NaN,1370352,5,229,1,116,10
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,5,Mumbai Indians,...,caught,1,NaN,NaN,1370352,5,229,1,115,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220020,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,5,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,335982,80,143,15,31,1
220021,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,6,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,335982,81,142,15,30,1
220022,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,7,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,335982,81,142,15,29,1
220023,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,1,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,335982,82,141,16,29,1
220024,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,2,Royal Challengers Bangalore,...,caught,1,NaN,NaN,335982,82,141,16,28,0

In [40]:
#crr=current_runs/current_overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])
delivery_df.head()

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,runs_left,over,balls_left,wickets_left,crr
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,1,Mumbai Indians,...,0,NaN,NaN,1370352,0,234,1,119,10,0.0
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,2,Mumbai Indians,...,0,NaN,NaN,1370352,1,233,1,118,10,3.0
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,3,Mumbai Indians,...,0,NaN,NaN,1370352,1,233,1,117,10,2.0
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,4,Mumbai Indians,...,0,NaN,NaN,1370352,5,229,1,116,10,7.5
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,5,Mumbai Indians,...,1,NaN,NaN,1370352,5,229,1,115,9,6.0

In [41]:
#rrr=runs_left/over_left
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']
delivery_df.head()

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,other_wicket_type,other_player_dismissed,cricsheet_id,current_score,runs_left,over,balls_left,wickets_left,crr,rrr
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,1,Mumbai Indians,...,NaN,NaN,1370352,0,234,1,119,10,0.0,11.798319
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,2,Mumbai Indians,...,NaN,NaN,1370352,1,233,1,118,10,3.0,11.847458
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,3,Mumbai Indians,...,NaN,NaN,1370352,1,233,1,117,10,2.0,11.948718
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,4,Mumbai Indians,...,NaN,NaN,1370352,5,229,1,116,10,7.5,11.844828
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,5,Mumbai Indians,...,NaN,NaN,1370352,5,229,1,115,9,6.0,11.947826

In [42]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [43]:
delivery_df

,match_id,city,winner,total_score,season,start_date,venue,innings,ball,batting_team,...,other_player_dismissed,cricsheet_id,current_score,runs_left,over,balls_left,wickets_left,crr,rrr,result
127,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,1,Mumbai Indians,...,NaN,1370352,0,234,1,119,10,0.000000,11.798319,0
128,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,2,Mumbai Indians,...,NaN,1370352,1,233,1,118,10,3.000000,11.847458,0
129,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,3,Mumbai Indians,...,NaN,1370352,1,233,1,117,10,2.000000,11.948718,0
130,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,4,Mumbai Indians,...,NaN,1370352,5,229,1,116,10,7.500000,11.844828,0
131,1370352,Ahmedabad,Gujarat Titans,234,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,5,Mumbai Indians,...,NaN,1370352,5,229,1,115,9,6.000000,11.947826,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220020,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,5,Royal Challengers Bangalore,...,NaN,335982,80,143,15,31,1,5.393258,27.677419,0
220021,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,6,Royal Challengers Bangalore,...,NaN,335982,81,142,15,30,1,5.400000,28.400000,0
220022,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,7,Royal Challengers Bangalore,...,NaN,335982,81,142,15,29,1,5.340659,29.379310,0
220023,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,1,Royal Challengers Bangalore,...,NaN,335982,82,141,16,29,1,5.406593,29.172414,0
220024,335982,Bangalore,Kolkata Knight Riders,223,2007/08,2008-04-18,M Chinnaswamy Stadium,2,2,Royal Challengers Bangalore,...,NaN,335982,82,141,16,28,0,5.347826,30.214286,0

In [44]:
required_data = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_score','crr','rrr','result']]

In [45]:
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_score,crr,rrr,result
127,Mumbai Indians,Gujarat Titans,Ahmedabad,234,119,10,234,0.000000,11.798319,0
128,Mumbai Indians,Gujarat Titans,Ahmedabad,233,118,10,234,3.000000,11.847458,0
129,Mumbai Indians,Gujarat Titans,Ahmedabad,233,117,10,234,2.000000,11.948718,0
130,Mumbai Indians,Gujarat Titans,Ahmedabad,229,116,10,234,7.500000,11.844828,0
131,Mumbai Indians,Gujarat Titans,Ahmedabad,229,115,9,234,6.000000,11.947826,0
...,...,...,...,...,...,...,...,...,...,...
220020,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,143,31,1,223,5.393258,27.677419,0
220021,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,30,1,223,5.400000,28.400000,0
220022,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,29,1,223,5.340659,29.379310,0
220023,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,29,1,223,5.406593,29.172414,0
220024,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,28,0,223,5.347826,30.214286,0

In [46]:
#sampling Data
final_df = required_data.sample(required_data.shape[0])

In [47]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_score,crr,rrr,result
143168,Kings XI Punjab,Royal Challengers Bangalore,Bangalore,151,104,9,175,9.0,8.711538,1

In [48]:
#dropping null values
final_df.dropna(inplace=True)

In [49]:
#removing rows where balls_left=0 to remove -inf and inf from rrr column
final_df = final_df[final_df['balls_left']!=0]

In [50]:
#storing data in new csv
final_df.to_csv("final_data_win.csv",index=False)

In [51]:
final_df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_score,crr,rrr,result
78365,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata,95,52,9,182,7.676471,10.961538,1
82641,Royal Challengers Bangalore,Delhi Daredevils,Delhi,69,49,8,182,9.549296,8.448980,1
33109,Mumbai Indians,Rajasthan Royals,Mumbai,79,45,8,194,9.200000,10.533333,0
200485,Kings XI Punjab,Rajasthan Royals,Durban,173,74,6,212,5.086957,14.027027,0
176983,Royal Challengers Bangalore,Chennai Super Kings,Chennai,164,106,8,184,8.571429,9.283019,0

In [52]:
from sklearn.model_selection import train_test_split
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [53]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_score,crr,rrr
146050,Sunrisers Hyderabad,Delhi Daredevils,Hyderabad,39,81,8,81,6.461538,2.888889
97004,Kings XI Punjab,Sunrisers Hyderabad,Chandigarh,133,65,7,208,8.181818,12.276923
181812,Delhi Daredevils,Chennai Super Kings,Chennai,62,65,6,113,5.563636,5.723077
210085,Chennai Super Kings,Royal Challengers Bangalore,Chennai,126,117,10,127,2.000000,6.461538
101308,Mumbai Indians,Kolkata Knight Riders,Mumbai,64,30,6,179,7.666667,12.800000
...,...,...,...,...,...,...,...,...,...
185693,Royal Challengers Bangalore,Delhi Daredevils,Delhi,65,23,5,185,7.422680,16.956522
42628,Mumbai Indians,Chennai Super Kings,Dubai,115,82,7,157,6.631579,8.414634
11665,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,187,115,10,193,7.200000,9.756522
80478,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,167,115,10,173,7.200000,8.713043
205313,Chennai Super Kings,Delhi Daredevils,Durban,187,117,10,190,6.000000,9.589744

In [54]:
X_test

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_score,crr,rrr
108419,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,144,80,9,195,7.650000,10.800000
186604,Deccan Chargers,Kolkata Knight Riders,Kolkata,131,87,9,182,9.272727,9.034483
113925,Chennai Super Kings,Mumbai Indians,Mumbai,91,45,6,188,7.760000,12.133333
217349,Rajasthan Royals,Royal Challengers Bangalore,Bangalore,89,81,8,136,7.230769,6.592593
110549,Mumbai Indians,Royal Challengers Bangalore,Mumbai,163,108,9,171,4.000000,9.055556
...,...,...,...,...,...,...,...,...,...
146761,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,68,57,8,130,5.904762,7.157895
133787,Chennai Super Kings,Kings XI Punjab,Cuttack,89,19,6,232,8.495050,28.105263
144609,Rajasthan Royals,Kings XI Punjab,Chandigarh,135,104,9,146,4.125000,7.788462
11499,Rajasthan Royals,Lucknow Super Giants,Jaipur,58,38,7,155,7.097561,9.157895
51130,Delhi Capitals,Royal Challengers Bangalore,Abu Dhabi,97,80,9,153,8.400000,7.275000

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [57]:
pipe.fit(X_train,y_train)

C:\Users\LENOVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [58]:
Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [59]:
y_pred = pipe.predict(X_test)

In [60]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8053550401883991

In [61]:
pipe.predict_proba(X_test)[0]

array([0.76911502, 0.23088498])

In [62]:
import pickle
pickle.dump(pipe,open('pipe_win_log_reg.pkl','wb'))

In [63]:
from sklearn.ensemble import RandomForestClassifier
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
],
remainder='passthrough')

pipe = Pipeline([
    ('step1',trf),
    ('step2',RandomForestClassifier())
])

pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
accuracy_score(y_test,y_pred)

0.9981057697230328

In [64]:
pipe.predict_proba(X_test)[0]

array([1., 0.])

In [65]:
pickle.dump(pipe,open('pipe_win_rf.pkl','wb'))